body {
    margin: 0;
    font-family: 'Oxygen Mono', monospace;
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: black;
}

h1 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    color: white;
    position: relative;
    font-family: 'Oxygen Mono', monospace;
    width: max-content;
}

.subtitle {
    color: #f1f1f1;
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterspeed) + 2s) forwards;
}
